/assets/
/var/
.idea/
**/cache
**/vendor
**/node_modules
/public/bundles/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/tests/.env.local
/tests/.env.local.php
/tests/.env.*.local
/tests/public
**/composer.lock
tools/phpunit/.phpunit.result.cache
tools/php-cs-fixer/php-cs-fixer.cache
tools/php-cs-fixer/phpcs.md
tools/phpstan/phpstan.md
!.gitkeep
!.gitignore
.php-cs-fixer.cache
