/assets/
/var/
.idea/
**/cache
**/vendor
**/node_modules
/public/bundles/
/tests/.env.*
.env.*
/.env.local
/.env.local.php
/.env.*.local
**/composer.lock
tools/phpunit/.phpunit.result.cache
tools/php-cs-fixer/php-cs-fixer.cache
tools/php-cs-fixer/phpcs.md
tools/phpstan/phpstan.md
!.gitkeep
!.gitignore
.php-cs-fixer.cache
